.card{
    background-color:white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(109, 108, 106, 0.7);
    transition: 0.5s;
    text-align: center;
    position: relative;
}
.card:hover{
    transform: scale(0.9);
}
.book-img{
    height: 200px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: fill;
}
.bottom{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 14px;
    margin-bottom: 2.5rem;
}
.amount{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgb(22, 21, 21);
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: .5rem;
}