.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-inner {
  background: white;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
  border-radius: 15px;
}

.overlay-inner .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
}

.inner-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.inner-box img {
  margin-right: 20px;
  width: 150px;
  height: 200px;
  border-radius: 15px;
  object-fit: fill;
}
.inner-box h3 {
  margin-top: 10px;
  color: rgb(112, 112, 112);
}
.inner-box h4 {
  color: rgb(51, 51, 51);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.inner-box button {
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.description {
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
  max-height: 50%;
  overflow-y: auto;
}
